
   .register {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 320px; /* Slightly wider form */
}

input {
    padding: 15px;
    border: 1px solid #ccc; /* Light border for input */
    outline: none;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    transition: border 0.3s ease;
}

input:focus {
    border: 1px solid #1f8ef1; /* Border change on focus */
}

label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

label img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

label:hover img {
    opacity: 1; /* Image brightens on hover */
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #0069d9;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


button:disabled {
    cursor: not-allowed;
    background-color: #a0d4fa;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: calc(100% - 50px); /* Adjust width to leave space for toggle button */
    padding: 15px; /* Adjust padding */
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
}

.password-container input:focus {
    border: 1px solid #1f8ef1;
}

.toggle-btn {
  position: absolute; /* Positioned within the password container */
  left: calc(100% - 50px); /* Adjusted to ensure alignment */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Perfect centering */
  background: none; /* No background */
  border: none; /* No border */
  color: #1f8ef1; /* Text color */
  cursor: pointer; /* Pointer cursor */
  font-size: 18px; /* Font size */
  padding: 12px; /* No padding */
}

.toggle-btn:focus {
  outline: none; /* No outline on focus */
}

/* Optional: Add hover effect to toggle button */
.toggle-btn:hover {
  text-decoration: underline; /* Underline on hover for clarity */
}
